@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #3681eb;
  height: 8rem;
  padding: 0.8rem 0;
  align-items: center;
  text-align: center;
}

.Header nav {
  padding: 0 8rem;
}

.logo {
  border-radius: 50%;
  width: 5rem;
}

.MenuBurger {
  width: 100px;
}

.menuList {
  width: 100%;
}

h1 {
  color: white;
  font-family: 'Merienda', cursive;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}


@media screen and (max-width: 800px) {
  .Header nav {
    padding: 0;
    padding-right: 3rem;
  }
  h1 {
    font-size: 1.8rem;
  }
}

